html,
body {
  height: 100%;
  margin: 0;
}
.main-container {
  width: 75%;
  height: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-container .container-logos {
  height: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-container .container-logos a {
  width: 49%;
  padding: 5%;
  box-sizing: border-box;
  transition: all 0.5s linear;
}
.main-container .container-logos a:hover {
  width: 51%;
}
.main-container .container-logos img {
  width: 100%;
}
.name {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1%;
}
